run = "./target/debug/exercise || (rustup install stable && cargo run)"
hidden = ["target"]

[packager]
language = "rust"

[languages.rust]
pattern = "**/*.rs"

[languages.rust.languageServer]
start = "rust-analyzer"

[nix]
channel = "stable-22_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]
